body {
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}
h2 {
  color: blue;
}

input[type="text"] {
  width: 75px;
  margin: 5px;
  border: 1px solid black;
  border-radius: 5px;
}
input[type="number"] {
  width: 75px;
  margin: 5px;
  border: 1px solid black;
  border-radius: 5px;
}
input [type="submit"] {
  margin: 5px;
  background: green;
}
progress {
  border-radius: 5px;
  width: 200px;
  height: 15px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}
progress::-webkit-progress-bar {
  background-color: grey;
  border-radius: 5px;
}
progress::-webkit-progress-value {
  background-color: green;
  border-radius: 5px;
  box-shadow: 1px 1px 3px 3px rgba(0, 255, 0, 0.5);
}
progress::-moz-progress-bar {
  background-color: green;
}
